<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="githubLatestReleaseDetails" value="https://api.github.com/repos/cdima/aerial/releases/latest"/>
    <add key="githubAllReleases" value="https://github.com/cDima/Aerial/releases"/>
    <add key="appleVideosURI" value="http://a1.phobos.apple.com/us/r1000/000/Features/atv/AutumnResources/videos/entries.json"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing = "true"/>
    </settings>
  </system.net>
</configuration>
